<div class="row" *ngIf="results">

  <div class="col-sm-4">
    <mat-card class="tw-bg-gradient-to-l tw-from-purple-300 tw-to-blue-700 tw-text-white tw-shadow-lg tw-flex tw-flex-col tw-items-start tw-justify-between">
      <mat-card-header>
        <mat-card-title-group class="tw-flex tw-justify-between tw-w-full">
          <div>
            <mat-card-title class="tw-text-2xl tw-font-bold">Daily Average Consumption</mat-card-title>
            <mat-card-subtitle class="tw-text-lg tw-font-light">Average consumption per day</mat-card-subtitle>
          </div>
          <div class="tw-flex tw-items-right">
            <span class='material-icons tw-text-4xl'>troubleshoot</span>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <a mat-menu-item href="#" target="_blank" rel="noopener">
                More
              </a>

            </mat-menu>
          </div>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content tw-mt-4">
        <p class="card-amount tw-text-4xl tw-font-bold tw-text-green-200">{{ results.average_consumption | number:'1.1-2'}} Units/Day</p>
        <!--<p class="card-subtitle tw-text-xl tw-font-light tw-text-green-300">Sub title content</p>-->
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-4">
    <mat-card class="tw-bg-gradient-to-r tw-from-red-500 tw-to-yellow-500 tw-text-white tw-shadow-lg tw-flex tw-flex-col tw-items-start tw-justify-between">
      <mat-card-header>
        <mat-card-title-group class="tw-flex tw-w-full">
          <div>
            <mat-card-title class="tw-text-2xl tw-font-bold">Monthly Revenue</mat-card-title>
            <mat-card-subtitle class="tw-text-lg tw-font-light">Total revenue collected for current month</mat-card-subtitle>
          </div>
          <div class="tw-flex tw-items-right">
            <span class='material-icons tw-text-4xl'>account_balance_wallet</span>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              
              <a mat-menu-item href="#" target="_blank" rel="noopener">
                More
              </a>
            </mat-menu>
          </div>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content tw-mt-4">
        <p class="card-amount tw-text-4xl tw-font-bold tw-text-green-200">Amount {{ results.total_payment | currency:'KES ':'symbol':'1.2-2' }}/=</p>

      </mat-card-content>
    </mat-card>

  </div>
  <div class="col-sm-4">
    <mat-card class="tw-bg-gradient-to-l tw-from-gray-100 tw-to-gray-400 tw-shadow-lg tw-flex tw-flex-col tw-items-start">
      <mat-card-header>
        <mat-card-title-group class="tw-flex tw-justify-between tw-w-full">
          <div>
            <mat-card-title class="tw-text-2xl tw-font-bold">Monthly Consumption</mat-card-title>
            <mat-card-subtitle class="tw-text-lg tw-font-light">Total consumption used for current month</mat-card-subtitle>
          </div>
          <div>
            <span class='material-icons tw-text-4xl tw-mr-4'>network_check</span>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              
              <a mat-menu-item href="#" target="_blank" rel="noopener">
                More
              </a>
            </mat-menu>
          </div>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content tw-mt-4">
        <p class="card-amount tw-text-4xl tw-font-bold"> ~{{ results.monthly_consumption | number:'1.1-2' }} Units</p>
        <!--<p class="card-subtitle tw-text-xl tw-font-light tw-text-white">Sub title content</p>-->
      </mat-card-content>
    </mat-card>


  </div>
  <div class="col-md-12">
    <hr>
  </div>


</div>

