<mat-card>
  <mat-card-header>
    <span class='material-icons'>document_scanner</span>
    <h5 class="tw-underline">Meter Records</h5>

  </mat-card-header>

  <mat-card-content>

    <mat-table [dataSource]="table_source" class="mat-elevation-z8 custom-table">
      <ng-container matColumnDef="meter_name">
        <mat-header-cell *matHeaderCellDef>Meter Name</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.meter_name }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="current_balance">
        <mat-header-cell *matHeaderCellDef class="centered-cell">Current Balance</mat-header-cell>
        <mat-cell *matCellDef="let element" class="centered-cell">
          {{ element.current_balance }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="input">
        <mat-header-cell *matHeaderCellDef>Token Amount</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          <input class="form-control" [(ngModel)]="element.inputValue" type="number" placeholder="Enter value">
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="update">
        <mat-header-cell *matHeaderCellDef>Add Tokens</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          <button mat-raised-button color="primary" (click)="rechargeMeterToken(element.inputValue, element.id); element.inputValue=''"><span class="material-icons">add_circle</span> Add</button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="fetch">
        <mat-header-cell *matHeaderCellDef>Check Status</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          <button mat-raised-button color="accent" (click)="checkMeterStatus(element.id)">Status<span class="material-icons">search</span></button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="valve">
        <mat-header-cell *matHeaderCellDef>Valve On/Off</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          <button *ngIf="element.valve_state==1" mat-raised-button color="warn" (click)="switchValve(element.id)">Off<span class="material-icons">power_settings_new</span></button>
          <button *ngIf="element.valve_state!=1" mat-raised-button color="basic" (click)="switchValve(element.id)">On<span class="material-icons">power_settings_new</span></button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
    </mat-table>



  </mat-card-content>
  <mat-card-footer>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100, 200, 500, 1000, 2000, 5000, 10000]" showFirstLastButtons [length]="totalItems" ></mat-paginator>
  </mat-card-footer>
  <mat-progress-bar [mode]="progressBarMode"></mat-progress-bar>
</mat-card>
