<mat-card>
  <mat-card-header>
    <h5>Meter Status Summary</h5>
  </mat-card-header>

  <mat-card-content>
    <table width="100%" class="tw-table-auto tw-shadow-lg tw-bg-white">
      <thead class="tw-bg-gray-100 dark:tw-bg-gray-700">
        <tr>
          <th class="tw-bg-blue-100 tw-border tw-text-left tw-py-2 tw-px-2">Customer Name</th>
          <th class="tw-bg-blue-100 tw-border tw-text-center tw-py-2 tw-px-2"> Meter Reading</th>
          <th class="tw-bg-blue-100 tw-border tw-text-center tw-py-2 tw-px-2"> Unit Balance</th>
          <th class="tw-bg-blue-100 tw-border tw-text-left tw-py-2 tw-px-2"> Valve Status</th>
          <th class="tw-bg-blue-100 tw-border tw-text-left tw-py-2 tw-px-2"> View Details</th>

      </tr>
    </thead>
    <tbody class="tw-bg-white tw-divide-y tw-divide-gray-200" *ngIf="meter_records">
      <tr  class="tw-hover:bg-gray-100 dark:hover:tw-bg-gray-700" *ngFor="let result of meter_records.values">
        <td class="tw-py-2 tw-px-2">{{result.customerName}}</td>
        <td class="tw-py-2 tw-px-2 tw-text-center">{{result.readings}}</td>
        <td class="tw-py-2 tw-px-2 tw-text-center">{{result.balance}}</td>
        <td class="tw-py-2 tw-px-2">
          <div style="display: flex; align-items: center; justify-content: center;">
            <ng-container *ngIf="result.valveStatus === 1; else offline">
              <span>Online </span>
              <mat-icon style="color: green;">power_settings_new</mat-icon>
            </ng-container>
            <ng-template #offline>
              <span>Offline </span>
              <mat-icon style="color: red;">power_settings_new</mat-icon>
            </ng-template>
          </div>

        </td>
        <td class="tw-py-1 tw-px-1">
          <button mat-raised-button color="primary" [routerLink]="['/questions/database-questions', result.id]">View</button>
        </td>

      </tr>

      <tr *ngIf="meter_records.errMsg !== 'search successful' ">
        <td colspan = "4" style = "text-align: center"><div class="alert alert-secondary" role="alert">No records fetched</div></td>

      </tr>
    </tbody>


    </table>

  </mat-card-content>
  <mat-progress-bar [mode]="meterProgress"></mat-progress-bar>
</mat-card>
