
<mat-card>
  <mat-card-header>
    <div class="container">
      <div>
        <h5 style = "font-size: 1.2em;"><span class='material-icons' style = "font-size: 1.5em;">group_add</span><span *ngIf="user_name">{{ userName }}</span> Ac details</h5>
      </div>
      <div class="fill"></div>
      <div>
        <button type="button" class="tw-w-full tw-text-white tw-bg-yellow-600 tw-hover:bg-blue-800 tw-focus:outline-none tw-focus:ring-4 tw-focus:ring-blue-300 tw-font-medium tw-rounded-full tw-text-sm tw-px-2 tw-py-2.5 tw-text-center tw-mr-2 tw-mb-2 dark:tw-bg-blue-600 dark:hover:tw-bg-blue-700 dark:focus:ring-blue-800" (click)="onButtonClick()">
          <span class='material-icons same-size'>account_balance_wallet</span>
          <span class='same-size'>Top Up Ac Balance</span>
        </button>

      </div>
    </div>

  </mat-card-header>

  <mat-card-content>
    <div class="table-container" *ngIf="record_tables">
      <table class="tw-w-full tw-border-collapse tw-rounded-lg tw-shadow-md tw-mt-5">
        <tr class="tw-bg-indigo-600">
          <th colspan="2" class="tw-py-3 tw-px-6 tw-text-white tw-font-semibold tw-text-xl">
            {{record_tables.results[0].user.username}} User Details
          </th>
        </tr>
        <tr>
          <th class="tw-py-3 tw-px-6 tw-text-left tw-font-semibold">Current Balance</th>
          <td class="tw-py-3 tw-px-6">{{record_tables.results[0].meter.current_balance}}</td>
        </tr>
        <tr class="tw-bg-gray-100">
          <th class="tw-py-3 tw-px-6 tw-text-left tw-font-semibold">Meter Reading
          </th>
          <td class="tw-py-3 tw-px-6">{{record_tables.results[0].meter.meter_reading}}
            <p><small class="text-muted">To be updated in 6 hours at 29-08-2023 at 10:40 PM</small> </p>
          </td>
        </tr>
        <tr>
          <th class="tw-py-3 tw-px-6 tw-text-left tw-font-semibold">Valve status</th>
          <td class="tw-py-3 tw-px-6">{{record_tables.results[0].meter.valve_state}}</td>
        </tr>
        <tr class="tw-bg-gray-100">
          <th class="tw-py-3 tw-px-6 tw-text-left tw-font-semibold">LandLord
          </th>
          <td class="tw-py-3 tw-px-6">{{record_tables.results[0].landlord.tenant_name}}
          </td>
        </tr>
        <tr>

          <td colspan="2"  class="tw-py-3 tw-px-6">
            <div class="row tw-py-2">
              <div class="col-md-6">
                <button class="tw-w-full tw-text-white tw-bg-green-700 tw-hover:bg-blue-800 tw-focus:outline-none tw-focus:ring-4 tw-focus:ring-blue-300 tw-font-medium tw-rounded-full tw-text-sm tw-px-5 tw-py-2.5 tw-text-center tw-mr-2 tw-mb-2 dark:tw-bg-blue-600 dark:hover:tw-bg-blue-700 dark:focus:ring-blue-800" [routerLink]="['/user-management', record_tables.results[0].user.id]">Edit User Details</button>
              </div>
              <div class="col-md-6">
                <button class="tw-w-full tw-text-white tw-bg-blue-700 tw-hover:bg-blue-800 tw-focus:outline-none tw-focus:ring-4 tw-focus:ring-blue-300 tw-font-medium tw-rounded-full tw-text-sm tw-px-5 tw-py-2.5 tw-text-center tw-mr-2 tw-mb-2 dark:tw-bg-blue-600 dark:hover:tw-bg-blue-700 dark:focus:ring-blue-800" >Manage Valve</button>
              </div>
              </div>


          </td>
        </tr>

      </table>
    </div>
  </mat-card-content>
  <mat-progress-bar [mode]="progressBarMode"></mat-progress-bar>
</mat-card>


