<app-payment-module  *ngIf="record_tables" [user_details]="record_tables.results[0]"  (updateMeterDetails)="fetchSingleUserRecords()"></app-payment-module>
<hr>
<div class="row">
  <div class="col-md-4" *ngIf="userName">
    <app-user-details  [user_name] = "userName" (user_details)="receiveData($event)"></app-user-details>
  </div>
  <div class="col-md-8">
    <app-user-consumption-graphs *ngIf="coordinates" [coordinates] = "coordinates"></app-user-consumption-graphs>

  </div>

</div>

<app-users *ngIf="userName === undefined"></app-users>
<hr>
<app-user-records  *ngIf="userName" [user_name] = "userName" [waterService]="getWaterService()" (coordinates)="receiveCoordinatesData($event)"></app-user-records>
