<mat-card>
  <mat-card-header>
    <span class="material-icons">account_balance_wallet</span>
    <h5 *ngIf="!detail_id">Save Mpesa API Details</h5>
    <h5 *ngIf="detail_id">Edit Mpesa API Details</h5>

  </mat-card-header>
  <mat-card-content>
    <form *ngIf="form" [formGroup]="form"  class="vertical-form">
      <mat-form-field>
        <mat-label>Till no</mat-label>
        <input matInput placeholder="Till No:954754" formControlName="tillno">
        <mat-error *ngIf="form.get('tillno')?.hasError('required')">Till No is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Business Shortcode</mat-label>
        <input matInput placeholder="Business Shortcode" formControlName="shortcode">
        <mat-error *ngIf="form.get('shortcode')?.hasError('required')">Shortcode is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Passcode</mat-label>
        <input matInput placeholder="Passcode" formControlName="passkey">
        <mat-error *ngIf="form.get('passcode')?.hasError('required')">Passcode is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Consumer Key</mat-label>
        <input matInput placeholder="Consumer Key" formControlName="consumer_key">
        <mat-error *ngIf="form.get('consumer_key')?.hasError('required')">Consumer Key is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Consumer Secret </mat-label>
        <input matInput placeholder="Consumer Secret" formControlName="consumer_secret">
        <mat-error *ngIf="form.get('consumer_secret')?.hasError('required')">Consumer Secret is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Account No </mat-label>
        <input matInput placeholder="Account/ Phone No" formControlName="account_no">
        <mat-error *ngIf="form.get('account_no')?.hasError('required')">Account No is required</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" *ngIf="detail_id" (click)="updateMpesaDetails()"> Update Mpesa Details</button>
      <button mat-raised-button color="primary" *ngIf="!detail_id" (click)="saveMpesaDetails()"> Save Mpesa Details</button>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <mat-progress-bar></mat-progress-bar>
  </mat-card-footer>
</mat-card>
