<mat-card>
  <mat-card-header>
    <h5>Questions Database</h5>
  </mat-card-header>

  <mat-card-content>
    <app-control-panel [dataService]="getQuestionService()"></app-control-panel>
    <table width="100%" class="tw-table-auto tw-shadow-lg tw-bg-white">
      <thead class="tw-bg-gray-100 dark:tw-bg-gray-700">
        <tr>
          <th class="tw-bg-blue-100 tw-border tw-text-left tw-py-4 tw-px-2">Databse</th>
          <th class="tw-bg-blue-100 tw-border tw-text-center tw-py-4 tw-px-2"> Questions</th>
          <th class="tw-bg-blue-100 tw-border tw-text-left tw-py-4 tw-px-2"> View</th>
      </tr>
    </thead>
    <tbody class="tw-bg-white tw-divide-y tw-divide-gray-200">
      <tr  class="tw-hover:bg-gray-100 dark:hover:tw-bg-gray-700" *ngFor="let result of database_tables">
        <td class="tw-py-2 tw-px-2"><a [routerLink]="['/questions/database-questions', result[0]]" class="tw-no-underline tw-text-blue-500 hover:tw-text-blue-700">{{result[0]}}</a></td>
        <td class="tw-py-2 tw-px-2 tw-text-center">{{result[1]}}</td>
        <td>
          <button mat-raised-button color="primary" [routerLink]="['/questions/database-questions', result[0]]" >View DB</button>
        </td>

      </tr>

      <tr *ngIf="database_tables === []">
        <td colspan = "4" style = "text-align: center"><div class="alert alert-secondary" role="alert">No databases</div></td>

      </tr>
    </tbody>


    </table>

  </mat-card-content>
  <mat-progress-bar [mode]="progressBarMode"></mat-progress-bar>
</mat-card>
