<mat-card>
  <mat-card-header>
    <mat-card-subtitle>Generated Answers: {{ answer_titles?.count }} for {{task | date:'EEEE, MMMM d, y h:mm a'}}</mat-card-subtitle>
    <mat-card-title>CHAT GPT Generated Answers</mat-card-title>
  </mat-card-header>
  <mat-card-content>


  <mat-table  matTableExporter [dataSource]="table_source" class="mat-elevation-z8 custom-table" #exporter="matTableExporter">
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
      <mat-cell *matCellDef="let element" >
        {{ element.question.title }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
      <mat-cell *matCellDef="let element">
       {{ element.question.category }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="question">
      <mat-header-cell *matHeaderCellDef>Question Text</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.question.content}}

      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="generated_text">
      <mat-header-cell *matHeaderCellDef>Generated Answers</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.generated_text}}

      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.processed }}

      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox [checked]="allSelected" (change)="toggleSelectAll()"></mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-checkbox [checked]="element.selected" (change)="toggleSelection(element)"></mat-checkbox>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
  </mat-table>


</mat-card-content>
<mat-card-actions>
<div class="button-row">
  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100, 200, 500, 1000, 2000, 5000, 10000]" showFirstLastButtons [length]="totalItems" ></mat-paginator>

  <button mat-raised-button color="primary"  (click)="exporter.exportTable('csv')" ><mat-icon>get_app</mat-icon>Export Visible Rows to CSV<mat-icon> insert_chart_outlined</mat-icon></button>

</div>

</mat-card-actions>
<mat-card-footer>

  <mat-progress-bar mode="determinate"></mat-progress-bar>
</mat-card-footer>
</mat-card>


