<mat-card>
  <mat-progress-bar [mode]="progressBarMode"></mat-progress-bar>
  <mat-card-header>
    <div class="container">
      <div>

        <h5 class="tw-text-2xl tw-font-bold tw-text-gray-800"><span class='material-icons'>history_edu</span>Consumption Records</h5>
      </div>
      <div class="fill"></div>
      <div>
        <a routerLink="/record-management/monthly-view" class="tw-m-1 tw-text-white tw-bg-purple-400 tw-hover:bg-blue-800 tw-focus:outline-none tw-focus:ring-4 tw-focus:ring-blue-300 tw-font-medium tw-rounded-full tw-text-sm tw-px-5 tw-py-2.5 tw-text-center tw-mr-2 tw-mb-2 dark:tw-bg-blue-600 dark:hover:tw-bg-blue-700 dark:focus:ring-blue-800">
          <!-- Use the i element with the material-icons class to insert the icon -->
          <i class="material-icons">calendar_today</i>
          <!-- Use the span element to wrap the text -->
          <span>Monthly View</span>
        </a>
        <button type="button" class="tw-m-1 tw-text-white tw-bg-purple-600 tw-hover:bg-blue-800 tw-focus:outline-none tw-focus:ring-4 tw-focus:ring-blue-300 tw-font-medium tw-rounded-full tw-text-sm tw-px-5 tw-py-2.5 tw-text-center tw-mr-2 tw-mb-2 dark:tw-bg-blue-600 dark:hover:tw-bg-blue-700 dark:focus:ring-blue-800" (click)="updateRecords()">Update Records</button>
        <button  (click)="openDialog()" class="tw-m-1 tw-text-white tw-bg-blue-700 tw-hover:bg-blue-800 tw-focus:outline-none tw-focus:ring-4 tw-focus:ring-blue-300 tw-font-medium tw-rounded-full tw-text-sm tw-px-5 tw-py-2.5 tw-text-center tw-mr-2 tw-mb-2 dark:tw-bg-blue-600 dark:hover:tw-bg-blue-700 dark:focus:ring-blue-800">Filter Records</button>
        <button   (click)="openConsumptionFilterDialog()" class="tw-m-1 tw-text-white tw-bg-green-700 tw-hover:bg-blue-800 tw-focus:outline-none tw-focus:ring-4 tw-focus:ring-blue-300 tw-font-medium tw-rounded-full tw-text-sm tw-px-5 tw-py-2.5 tw-text-center tw-mr-2 tw-mb-2 dark:tw-bg-blue-600 dark:hover:tw-bg-blue-700 dark:focus:ring-blue-800">Calculate Consumption</button>

      </div>
    </div>

  </mat-card-header>

  <mat-card-content>
    <div  class="row" *ngIf="consumption_sums">
      <div class="col-md-5">
        <table class="tw-table-auto tw-border tw-shadow-lg tw-bg-white">
          <thead class="tw-bg-green-300 dark:tw-bg-gray-700">
            <tr>
              <th class="tw-px-4 tw-py-2 tw-bg-blue-400 tw-text-white-600 tw-text-sm tw-font-bold tw-border tw-border-gray-400 tw-align-middle tw-text-center">Client Name</th>
              <th class="tw-px-4 tw-py-2 tw-bg-blue-400 tw-text-white-600 tw-text-sm tw-font-bold tw-border tw-border-gray-400 tw-align-middle tw-text-right">Consumption</th>
              <th class="tw-px-4 tw-py-2 tw-bg-blue-400 tw-text-white-600 tw-text-sm tw-font-bold tw-border tw-border-gray-400 tw-align-middle tw-text-right">Visualize</th>
              <th class="tw-px-4 tw-py-2 tw-bg-blue-400 tw-text-white-600 tw-text-sm tw-font-bold tw-border tw-border-gray-400 tw-align-middle tw-text-right">Invoice</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of consumption_sums | keyvalue" class="tw-border">
              <ng-container *ngFor="let obj of item.value | keyvalue">
                <td class="tw-px-2 tw-py-1 tw-border-bottom tw-border-gray-400 tw-align-middle tw-text-center">{{ obj.key }}</td>
                <td class="tw-px-2 tw-py-1 tw-border-bottom tw-border-gray-400 tw-align-middle tw-text-right">{{ obj.value  | number : '1.2-2' }} Units</td>
                <td class="tw-px-2 tw-py-1 tw-border-bottom tw-border-gray-400 tw-align-middle tw-text-right">
                  <button   (click)="visualizeConsumption( obj.key)" class="tw-m-1 tw-text-white tw-bg-blue-700 tw-hover:bg-blue-800 tw-focus:outline-none tw-focus:ring-4 tw-focus:ring-blue-300 tw-font-medium tw-rounded-full tw-text-sm tw-px-2 tw-py-1 tw-text-center tw-mr-2 tw-mb-2 dark:tw-bg-blue-600 dark:hover:tw-bg-blue-700 dark:focus:ring-blue-800">View</button>
                </td>
                <td class="tw-px-2 tw-py-1 tw-border-bottom tw-border-gray-400 tw-align-middle tw-text-right">
                  <button   (click)="openConsumptionFilterDialog()" class="tw-m-1 tw-text-white tw-bg-green-700 tw-hover:bg-blue-800 tw-focus:outline-none tw-focus:ring-4 tw-focus:ring-blue-300 tw-font-medium tw-rounded-full tw-text-sm tw-px-2 tw-py-1 tw-text-center tw-mr-2 tw-mb-2 dark:tw-bg-blue-600 dark:hover:tw-bg-blue-700 dark:focus:ring-blue-800">Generate</button>
                </td>
              </ng-container>

            </tr>

          </tbody>
        </table>
      </div>
      <div class="col-md-7">
        <app-user-consumption-graphs *ngIf="coordinates" [coordinates] = "coordinates"></app-user-consumption-graphs>
      </div>

    </div>
    <hr *ngIf="consumption_sums">

    <mat-table [dataSource]="table_source" class="mat-elevation-z8" matSort>
      <!-- Meter Name Column -->
      <ng-container matColumnDef="user_name" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </mat-header-cell>
        <mat-cell *matCellDef="let result"> <a [routerLink]="['/client-dashboard', result.user_name]" class="tw-no-underline tw-text-blue-500 hover:tw-text-blue-700">{{result.user_name}}</a> </mat-cell>
      </ng-container>

      <!-- Reading Time Column -->
      <ng-container matColumnDef="reading_time">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Reading Time </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.reading_time | date:'EEEE, MMMM d, y h:mm a'}} </mat-cell>
      </ng-container>

      <!-- Consumption Column -->
      <ng-container matColumnDef="consumption">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Consumption </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.consumption}} </mat-cell>
      </ng-container>

      <!-- Meter Reading Column -->
      <ng-container matColumnDef="meter_reading">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Meter Reading </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.meter_reading}} </mat-cell>
      </ng-container>


      <!-- Define the columns for the table -->
      <mat-header-row *matHeaderRowDef="[ 'user_name', 'reading_time', 'consumption', 'meter_reading']" style="background-color: #DBEAFE; font-weight : bold; padding-top: 1rem;"></mat-header-row>
      <mat-row *matRowDef="let row; columns: [ 'user_name', 'reading_time', 'consumption', 'meter_reading']"></mat-row>
    </mat-table>

    <ng-template #noData>
      <div class="alert alert-secondary" role="alert">No records fetched</div>
    </ng-template>





  </mat-card-content>
  <mat-card-footer>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100, 200, 500, 1000, 2000, 5000, 10000]" showFirstLastButtons [length]="totalItems" ></mat-paginator>
  </mat-card-footer>

</mat-card>
<hr>
<app-consumption-graphs *ngIf="table_source" [records] = "table_source.data"></app-consumption-graphs>

