
<div class="row">
  <div class="col-md-4">
    <app-edit-user  [user_id]="user_id" [server_conn]="getWaterService()"></app-edit-user>
  </div>
  <div class="col-md-8">
    <mat-card>
      <mat-card-header>
        <h4>User Details</h4>
      </mat-card-header>
      <mat-card-content>
        User Details breakdown # to do: make a child of the edit user component
      </mat-card-content>
    </mat-card>

  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <app-users [dataService]="getWaterService()"></app-users>
  </div>
</div>
