.row-center {
    display:flex;
  justify-content:center;
  }
  .row-right {
    display:flex;
  justify-content:right;
  }
  .row-left {
    display:flex;
  justify-content:left;
  }

.row-bold
{
    font-weight: bold;
}

