<div class="row">
  <div class="col-md-5">
    <app-user-records [waterService]="getWaterService()"></app-user-records>
    <hr>
    <mat-card>
      <mat-card-header>
        <h5>Water Records Summary</h5>
      </mat-card-header>

      <mat-card-content>
        <table width="100%" class="tw-table-auto tw-shadow-lg tw-bg-white">
          <thead class="tw-bg-gray-100 dark:tw-bg-gray-700">
            <tr>
              <th class="tw-bg-blue-100 tw-border tw-text-left tw-py-4 tw-px-2">Meter Name</th>
              <th class="tw-bg-blue-100 tw-border tw-text-left tw-py-4 tw-px-2"> Reading Time</th>
              <th class="tw-bg-blue-100 tw-border tw-text-left tw-py-4 tw-px-2"> Meter Reading</th>
          </tr>
        </thead>
        <tbody class="tw-bg-white tw-divide-y tw-divide-gray-200" *ngIf="record_tables">
          <tr  class="tw-hover:bg-gray-100 dark:hover:tw-bg-gray-700" *ngFor="let result of record_tables.results">
            <td class="tw-py-2 tw-px-2">{{result.user_name}}</td>
            <td class="tw-py-2 tw-px-2">{{result.reading_time | date:'EEEE, MMMM d, y h:mm a'}}</td>
            <td class="tw-py-2 tw-px-2">{{result.water_reading}}</td>

          </tr>

          <tr *ngIf="record_tables.results.length === 0">
            <td colspan = "4" style = "text-align: center"><div class="alert alert-secondary" role="alert">No records fetched</div></td>

          </tr>
        </tbody>

        </table>
        <div class="row tw-py-2">
          <div class="col-md-6">
            <button type="button" class="btn btn-primary w-100" (click)="updateRecords()">Update Records</button>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-warning w-100" (click)="updateRecords()">View All Records</button>
          </div>


        </div>



      </mat-card-content>
      <mat-progress-bar [mode]="progressBarMode"></mat-progress-bar>
    </mat-card>

  </div>
  <div class="col-md-7"  >
    <app-meter-records [waterService]="getWaterService()"></app-meter-records>
  </div>

</div>

