<div class="row">
  <div class="col-md-5">
    <app-user-records [waterService]="getWaterService()" (results_fetched)="fetchConsumptionRecords()"></app-user-records>
    <hr>
    <!--payment-reports-summary-->
    <app-payment-reports-summary></app-payment-reports-summary>
  </div>
  <div class="col-md-7"  >
    <app-meter-records [waterService]="getWaterService()"></app-meter-records>
    <hr/>
    <app-consumption-graphs *ngIf="meter_data" [records] = "meter_data"></app-consumption-graphs>
  </div>
  <div class="col-md-12">
    <hr>
    <app-consumption-records [waterService]="getWaterService()" (dataEvent)="receiveData($event)"></app-consumption-records>
  </div>

</div>

