
<mat-card>
  <mat-card-header>
    <div class="container">
      <div>

        <h5 class="tw-text-1xl tw-font-bold tw-text-gray-800"><span class='material-icons'>history_edu</span>Consumption Records</h5>
      </div>
    </div>

  </mat-card-header>

  <mat-card-content>
    <mat-table [dataSource]="table_source" class="mat-elevation-z8" matSort *ngIf="table_source.data.length; else noData">
      <!-- Meter Name Column -->
      <ng-container matColumnDef="user_name" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </mat-header-cell>
        <mat-cell *matCellDef="let result"> <a [routerLink]="['/client-dashboard', result.user_name]" class="tw-no-underline tw-text-blue-500 hover:tw-text-blue-700">{{result.user_name}}</a> </mat-cell>
      </ng-container>

      <!-- Reading Time Column -->
      <ng-container matColumnDef="reading_time">
        <mat-header-cell *matHeaderCellDef> Reading Time </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.reading_time | date:'EEEE, MMMM d, y h:mm a'}} </mat-cell>
      </ng-container>

      <!-- Consumption Column -->
      <ng-container matColumnDef="consumption">
        <mat-header-cell *matHeaderCellDef> Consumption </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.consumption}} </mat-cell>
      </ng-container>

      <!-- Meter Reading Column -->
      <ng-container matColumnDef="meter_reading">
        <mat-header-cell *matHeaderCellDef> Meter Reading </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.meter_reading}} </mat-cell>
      </ng-container>


      <!-- Define the columns for the table -->
      <mat-header-row *matHeaderRowDef="[ 'user_name', 'reading_time', 'consumption', 'meter_reading']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: [ 'user_name', 'reading_time', 'consumption', 'meter_reading']"></mat-row>
    </mat-table>

    <ng-template #noData>
      <div class="alert alert-secondary" role="alert">No records fetched</div>
    </ng-template>





  </mat-card-content>
  <mat-card-footer>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100, 200, 500, 1000, 2000, 5000, 10000]" showFirstLastButtons [length]="totalItems" ></mat-paginator>
  </mat-card-footer>
  <mat-progress-bar [mode]="progressBarMode"></mat-progress-bar>
</mat-card>



