<h1 mat-dialog-title>Chat GPT Key</h1>
<div mat-dialog-content>
  <p style="white-space: pre-line"><strong>API KEY:</strong> {{ data.key }}</p>
  <mat-form-field>
    <input matInput placeholder="Type your message here" [(ngModel)]="data.key">
  </mat-form-field>
</div>
<mat-progress-bar #progressBar mode="determinate" value = 0></mat-progress-bar>
<br/>
<div *ngIf="error" class="alert alert-danger" role="alert">
  Error: Unable to save Chat GPT Prompt
</div>
<div mat-dialog-actions>
  <button mat-raised-button  (click)="updateApiKey()" color="primary" tabindex="2">Update Prompt</button>
  <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</div>
